
<%= simple_form_for [@game, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <%= f.submit 'RENT THE GAME', class: 'btn btn-primary' %>
<% end %>

<% if booking = @bookings.where(game: @game, user: current_user).last %>
  <h1>Booking Details</h1>
  <p><strong>Start date:</strong> <%= booking.start_date %></p>
  <p><strong>End date:</strong> <%= booking.end_date %></p>
<% end %>
