<div class="navbar navbar-expand-sm navbar-light">
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div style= 'display: flex; justify-content: space-between;'>
        <ul class="navbar-nav me-auto">
          <%= link_to 'Home', root_path  %>
          <li><%= link_to 'All Games', games_path  %></li>
          <li><%= link_to 'Categories', categories_path  %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </div>
    </div>
    <div style = 'display:flex; width: 25%; align-items: center; margin-right: 10px;'>
      <div class = 'search-form'>
        <%= form_with url: games_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a game"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <% if @current_user.photo.key? %>
          <%= cl_image_tag @current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "https://media.istockphoto.com/id/1332100919/vector/man-icon-black-icon-person-symbol.jpg?s=612x612&w=0&k=20&c=AVVJkvxQQCuBhawHrUhDRTCeNQ3Jgt0K1tXjJsFy1eg=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "My Reviews", reviews_path, class: "dropdown-item" %>
          <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
</div>
