<%= render 'shared/navbar' %>

<h1>Show</h1>
<h2><%= @game.title %></h2>
<%= cl_image_tag @game.photo.key,
      width: 400, height: 300, crop: :fill %>
<p><%= @game.description %></p>
<p><%= @game.price %></p>
<p><% @game.categories.each do |category| %>
  <%= category.name %>
<% end %>
</p>

<p><%= link_to 'Edit game listing', edit_game_path(@game) if policy(@game).edit?%></p>
<p><%= link_to 'Delete game listing', game_path(@game),
data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }if policy(@game).edit?%></p>
<p><%= link_to 'Back to games', games_path %></p>
