<div class='page-container'>
  <div class="game-banner" style="
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
        url('<%= cl_image_path @game.photo.key, fetch_format: :auto, crop: :fill %>')"
      >
      <div class='game-title'>
        <h1><%= @game.title %></h1>
      </div>
  </div>
  <div class='game-wrapper'>
      <div class="game-container">
        <div class = 'game-header'>
          <h1>About this Game</h1>
        </div>
        <div class = 'saber'></div>
        <div class="game-information">
          <p><%= @game.description %></p>
          <p><%= @game.price %></p>
          <p><% @game.categories.each do |category| %>
            <%= link_to category.name, category_path(category), class: 'btn btn-light' %>
          <% end %>
          </p>
        </div>
      </div>
      <div class="game-reviews">
        <%= render 'shared/all_reviews' %>
        <div class = 'review-button'>
          <%= link_to "Write a Review", new_game_review_path(@game), class: 'btn btn-info' if @booked%>
        </div>
      </div>
      <div class = 'booking-wrapper'>
        <h1 class = 'bookings-header'>Book it now</h1>
        <div class = 'saber'></div>
        <div class="booking">
          <%= render partial: 'bookings/form', locals: { bookings: @bookings, booking: @booking, current_user: @current_user } %>
          <div class="calendar">
            <%= render partial: 'bookings/calendar', locals: { bookings: @bookings, game: @game, current_user: @current_user} %>
          </div>
        </div>
      </div>
  </div>
</div>
<%# <div class="game-links"> %>
  <%# <%= link_to 'Edit game listing', edit_game_path(@game), class: 'btn-edit btn btn-primary' if policy(@game).edit?%>
  <%# <%= link_to 'Delete game listing', game_path(@game), class: 'btn-delete btn btn-danger', %>
  <%# data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }if policy(@game).edit?%>
<%# </div> %>
