<div class = 'reviews-page-container'>
  <div class = 'saber-container'>
    <div class = 'main-header'>
        <h1>My reviews</h1>
    </div>
    <div class = 'saber'></div>
  </div>



  <% @reviews.each do |review| %>
    <div class = 'review'>
      <div class = 'review-image'>
        <img class="review-games" src="<%= cl_image_path review.game.photo.key %>" alt="<%= review.game.title %>">
      </div>
      <div class="review-info">
        <h2 class="title"><%=review.game.title%></h2>
        <% booking = @bookings.where(game: review.game).last %>
        Booking Date: <%= booking.start_date %> to <%= booking.end_date %>
        <p>Rating: <%=review.rating%> <i class="fa-solid fa-star"></i></p>
        <h5><%=review.content%></h5>
      </div>
    </div>
  <% end %>
</div>
